.container-fluid  {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    color: azure;
}

#conteudo {
    background-color: rgb(250, 250, 250);
    top: 10%;
    padding: 2%;
    color: #F79E8B;
    /* border-radius: 50px; */
}


#membros{
	height: 40%;
}

.membro p {
	text-align: center;
}

.name_membro {
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: 700;
}

.email_membro {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: italic;
}

.foto_membro {
	border-radius: 90px;
	width: 175px;
	height: 175px;
	margin-left:32%;
}

#apresentacao {
    margin-top:5%;
}